//$light: #9fa090; // olive-1
//$primary: #45544d; // olive-2
//$secondary: #3b4640; // olive-3

$light: #B9C3CA; // blue-1
$primary: #597D9F; // blue-2
$secondary: #425D76; // blue-3

$dark: #30332E;
$highlight: #FBB13C;
$error: #85230A;

$success_1: #4BD269;
$success_2: #2DB44A;
$success_3: #1D722F;

$danger_1: #BE310E;
$danger_2: #85230A;
$danger_3: #5E1908;